<div class = "containerForStartingButton" *ngIf = "isLoggedIn == false">
  <div class = "startingButton">
    <button type = "button" (click) = "testMethod()">LET'S GET STARTED</button>
  </div>
</div>


<div class = "container" *ngIf = "isLoggedIn == true">
  <div class = "optionsLeftBar">
    <div class = "option" id = "mainpage">
      Main Page
    </div>
    <div class = "option" id = "addcity">
      Add city
    </div>
    <div class = "option" id = "deletecity">
      Delete city
    </div>
    <div class = "option" id = "setmaincity">
      Set main city
    </div>
    <div class = "option" id = "searchcity">
      Search city
    </div>
    <div class = "option" id = "logout">
      Log out
    </div>
  </div>

  <div class = "mainWeather">
    <div class = "helloUser">
      Hello {{login}}! Today's weather: {{type}}
    </div>
      <div class = "mainInformationBlock">
        <div class = "city">
          {{city}}
        </div>
        <div class = "icon">
              {{type}}
        </div>
        <div class = "temperature">
          {{temperature}}°C
        </div>
        <div class = "pressureAndHumidity">
          <div class = "pressure">
            <div class = "pressureIcon">
              PRESSURE
            </div>
            <div class = "pressureValue">
              {{pressure}} hPa
            </div>
          </div>
          <div class = "humidity">
            <div class = "humidityIcon">
              HUMIDITY
            </div>
            <div class = "humidityValue">
              {{humidity}}%
            </div>
          </div>

        </div>
        <div class = "windAndTempMin">
          <div class = "wind">
            <div class = "windIcon">
              WIND
            </div>
              <div class = "windValue">
                {{wind}} km/h
              </div>

          </div>
          <div class = "tempMin">
            <div class = "tempMinIcon">
              Feels like
            </div>
            <div class = "tempMinValue">
              {{feels_like}}°C
            </div>
          </div>
        </div>
        <div class = "sunriseAndSunset">
          <div class = "sunrise">
            <div class = "sunriseIcon">
              MIN
            </div>
            <div class = "sunriseValue">
              {{min}}°C
            </div>
          </div>
          <div class = "sunset">
            <div class = "sunsetIcon">
              MAX
            </div>
            <div class = "sunsetValue">
              {{max}}°C
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class = weatherRightBar>
    <div class = "sideWeather">
      WEATHER 1
    </div>
    <div class = "sideWeather">
      WEATHER 2
    </div>
    <div class = "sideWeather">
      WEATHER 3
    </div>
  </div>

</div>




