<div class = "containerForStartingButton" *ngIf = "isLoggedIn == false">
  <div class = "startingButton">
    <button type = "button" (click) = "testMethod()">LET'S GET STARTED</button>
  </div>
</div>


<div class = "container" *ngIf = "isLoggedIn == true">
  <div class = "optionsLeftBar">
    <div class = "option" id = "mainpage" (click) = "displayMainPage()">
      Main Page
    </div>
    <div class = "option" id = "addcity">
      Add city
    </div>
    <div class = "option" id = "deletecity">
      Delete city
    </div>
    <div class = "option" id = "setmaincity" (click) = "displaySetMainCity()">
      Set main city
    </div>
    <div class = "option" id = "searchcity">
      Search city
    </div>
    <div class = "option" id = "logout">
      Log out
    </div>
  </div>

  <div class = "mainWeather" *ngIf = "set_main_city == false && add_city == false
                                       && delete_city == false && search_city == false">
    <img src = "assets/rain.gif" style = "height: 100%; width: 100%;">
    <div class = "helloUser">
      Hello {{login}}! Today's weather: {{type}}
    </div>
      <div class = "mainInformationBlock">
        <div class = "city">
          {{city}}
        </div>
        <div class = "icon">
              <img src = "assets/rain.gif" style = "width: 250px; height: 150px;
                border-radius: 20px;">
        </div>
        <div class = "temperature">
          {{temperature}}°C
        </div>
        <div class = "pressureAndHumidity">
          <div class = "pressure">
            <div class = "pressureIcon">
              <img src = "assets/pressure.gif" style = "width: 100px; height: 70px;
                border-radius: 20px;">
            </div>
            <div class = "pressureValue">
              {{pressure}} hPa
            </div>
          </div>
          <div class = "humidity">
            <div class = "humidityIcon">
              <img src = "assets/humidity.gif" style = "width: 100px; height: 70px;
                border-radius: 20px;">
            </div>
            <div class = "humidityValue">
              {{humidity}}%
            </div>
          </div>

        </div>
        <div class = "windAndTempMin">
          <div class = "wind">
            <div class = "windIcon">
              <img src = "assets/wind.gif" style = "width: 100px; height: 70px;
                  border-radius: 20px;">
            </div>
              <div class = "windValue">
                {{wind}} km/h
              </div>

          </div>
          <div class = "tempMin">
            <div class = "tempMinIcon">
              <img src = "assets/feelslike.gif" style = "width: 100px; height: 70px;
                  border-radius: 20px;">
            </div>
            <div class = "tempMinValue">
              {{feels_like}}°C
            </div>
          </div>
        </div>
        <div class = "sunriseAndSunset">
          <div class = "sunrise">
            <div class = "sunriseIcon">
              <img src = "assets/cold.gif" style = "width: 100px; height: 70px;
                  border-radius: 20px;">
            </div>
            <div class = "sunriseValue">
              {{min}}°C
            </div>
          </div>
          <div class = "sunset">
            <div class = "sunsetIcon">
              <img src = "assets/hot.gif" style = "width: 100px; height: 70px;
                  border-radius: 20px;">
            </div>
            <div class = "sunsetValue">
              {{max}}°C
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class = "weatherRightBar" *ngIf = "set_main_city == false && add_city == false
                                       && delete_city == false && search_city == false">
    <div class = "sideWeather">
      WEATHER 1
    </div>
    <div class = "sideWeather">
      WEATHER 2
    </div>
    <div class = "sideWeather">
      WEATHER 3
    </div>
  </div>


  <div class = "setMainCity" *ngIf = "set_main_city == true">

    <div class = "setMainCityTop">
      SET YOUR MAIN CITY
    </div>
    <div class = "setMainCityInput">
      <input type = "text" placeholder="Search city" [(ngModel)]="cityName">
    </div>
    <div class = "setMainCityButton">
      <button type = "button" (click) = "setMainCitySubmit()">
        Submit
      </button>
    </div>
    <div class = "setMainCityAnnouncement" *ngIf = "setMainCityAnnoucement == true">
      <div class = "setMainCityText">
        Your main city has been set to {{cityName}}
      </div>
      <div class = "setMainCityImage">
        <img src = "assets/allgood.gif">
      </div>
    </div>
  </div>

</div>




